audioread==3.0.1
backcall==0.2.0
bvh-converter==1.0.2
certifi
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.3.2
colorama==0.4.6
ConfigArgParse==1.7
cycler
decorator==5.1.1
fasttext==0.9.2
fonttools==4.25.0
idna==3.6
importlib-metadata==6.7.0
ipython==7.34.0
jedi==0.19.1
joblib==1.3.2
kiwisolver
lazy_loader==0.3
librosa==0.8.0
llvmlite==0.39.1
lmdb==1.4.1
matplotlib
matplotlib-inline==0.1.6
mkl-random
mkl-service==2.4.0
msgpack==1.0.5
munkres==1.1.4
numba==0.56.4
numpy==1.19.0
packaging==23.2
pandas==1.3.0
parso==0.8.3
pickleshare==0.7.5
Pillow==9.3.0
platformdirs==4.0.0
ply==3.11
pooch==1.8.1
prompt-toolkit==3.0.43
pyarrow==0.15.0
pybind11==2.11.1
pycparser==2.21
Pygments==2.17.2
pyparsing
PyQt5==5.15.7
PyQt5-sip
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
resampy==0.4.2
scikit-learn==1.0.2
scipy==1.7.3
seaborn
sip
six
soundfile==0.12.1
soxr==0.3.7
threadpoolctl==3.1.0
toml
torch==1.13.1
tornado
traitlets==5.9.0
transforms3d==0.4.1
typing_extensions==4.7.1
urllib3==2.0.7
wcwidth==0.2.13
wincertstore==0.2
zipp==3.15.0
numpy==1.19.0
fasttext==0.9.2
bvh-converter==1.0.2